.SignIn{
    height: 100vh;
    font-family: 'Ubuntu';
    background-color: #FADDB1;

    .navLogin{
        height: 15vh;
        display: flex;
        align-items: center;

        .navBtn{
            margin-left: 30px;
            color: black;
            text-decoration: none;
            cursor: pointer;

            &:after{
                
            }
        }
    }

    .mainSignIn{
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        span{
            visibility: hidden;
        }
    }
}

@media screen and (max-width: 768px){
    .containerFormLogin{}


}

@media screen and (min-width: 769px) and (max-width:1024px){

    .containerFormLogin{}
    
}

@media screen and (min-width: 1025px){

    .containerFormSignIn{
        width: 30vw;
        height: 70vh;
        overflow: hidden;
        border-radius: 50px;
        border: 2px solid black;

        .titleFormSignIn{
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                font-weight: 300;
            }
        }

        .formSignIn{
            height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            

            .containerInput{
                height: 10vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .signFormField{
                    width: 70%;
                    height: 7vh;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1.5px solid black;
                    font-family: 'Ubuntu'; 
                }

                span{
                    font-size: 13px;
                    margin-top: 3px;
                    color: red;
                }

                .signFormSubmit{
                    padding: 14px;
                    background-color: transparent;
                    border: 1.4px solid black;
                    cursor: pointer;
                    transition: 0.3s ease;
                    font-family: 'Ubuntu';

                    &:hover{
                        background-color: rgb(27, 27, 27);
                        color: #FADDB1;
                    }
                }
            }
        }

        .containerRedirectBtn{
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                font-size: 0.7rem;

                a{
                    margin-left: 3px;
                }
            }
        }
    }


    
    
}