.SignIn{
    height: 91vh;
    font-family: 'Ubuntu';
    background-color: #faddb1;
    display: flex;
    align-items: center;
    justify-content: center;

    .mainSignIn{
        display: flex;
        justify-content: center;


        span {
            color: red;
        }
        h1{  
            font-size: 2.2rem;
        }
    }

    .containerRedirectBtn{
        p{
            font-size: 0.8rem;
            a{
                margin-left: 3px;
                font-weight: 600;
                color: #1d5cc8 ;
                cursor: pointer;
            }
        }
    }

    .containerInput {
        input {
            border-radius: 6px;
            padding: 0.6em;
        }
    }
}

@media screen and (max-width: 1024px){

    .SignIn {
        .mainSignIn {
            margin: 0;
            width: 80%;
        }
    }

    span{
        visibility: hidden;
    }
    
    .containerFormSignIn{
        width: 80%;
        overflow: hidden;
        border-radius: 50px;
        background-color: #f0f0f5;
        overflow: hidden;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .titleFormSignIn{
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{  
                font-size: 1.8rem;
            } 
        }

        .formSignIn{
            height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            

            .containerInput{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .signFormField{
                    width: 70%;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1.5px solid black;
                    font-family: 'Ubuntu'; 
                }

                span{
                    font-size: 13px;
                    margin-top: 3px;
                    color: red;
                }

                .signFormSubmit{
                    padding: 0.5em;
                    background-color: transparent;
                    border: 1.4px solid black;
                    cursor: pointer;
                    transition: 0.3s ease;
                    font-family: 'Ubuntu';

                    &:hover{
                        background-color: rgb(27, 27, 27);
                        color: #FADDB1;
                    }
                }
            }
        }

        .containerRedirectBtn{
            height: 10vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-size: 0.8rem;

                a{
                    margin-left: 3px;
                }
            }
        }
    }
}


@media screen and (min-width: 1025px){

    .mainSignIn{
        height: 75vh;
        align-items: flex-start;
    }

    .containerFormSignIn{
        background-color: #f0f0f5;
        width: 35vw;
        height: 100%;
        overflow: hidden;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        

        .titleFormSignIn{
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .formSignIn{
            height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            .containerInput{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .signFormField{
                    width: 70%;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1.5px solid black;
                    font-family: 'Ubuntu'; 
                }

                span{
                    font-size: 13px;
                    margin-top: 3px;
                    color: red;
                }

                .signFormSubmit{
                    width: 150px;
                    background-color: transparent;
                    border: 2px solid #28a745;
                    cursor: pointer;
                    transition: 0.3s ease;
                    font-size: 17px;
                    font-family: 'Ubuntu';

                    &:hover{
                        background-color: #28a745;
                        color: #FADDB1;
                    }
                }
            }
        }

        .containerRedirectBtn{
            height: 10vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 0.8rem;
                a{
                    margin-left: 3px;
    
                }
            }
        }
    }
}