

<!-- <div class="form_container">
    <div>
        <div>Email : {{ form.email }}</div>
        <div>Passw : {{ form.password }}</div>
    </div>

    <form 
        name="form" 
        #f="ngForm"
        (ngSubmit)="f.form.valid && onSubmit()"
        >
        <div class="group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" required>
            <div class="form_error" *ngIf="email.errors && f.submitted">
                Email is required !
            </div>
        </div>
        <div class="group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" required minlength="5">
   
            <div class="form_error" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">Password must be at least 5 charracters</div>
            </div>
        </div>
        <div class="group">
            <button>Login</button>
        </div>
    </form>
</div> -->

<div class="SignIn">
    <nav class="navLogin">
        <img class="returnAllIcon" src="../../../assets/arrowReturn.svg" alt="retour vers l'accueil">
        <a class="navBtn" routerLink="/" >Retour à l'accueil</a>
        <img class="returnMobIcon" routerLink="/" src="../../../assets/arrowLeftCircle.svg" alt="retour vers l'accueil">
    </nav>
    <main class="mainSignIn">
        <figure class="containerFormSignIn">
            <figure class="titleFormSignIn">
                <h1>Connectez-vous</h1>
            </figure>
            <form 
                class="formSignIn" 
                action="POST"
                name="form" 
                #f="ngForm"
                (ngSubmit)="f.form.valid && onSubmit()"
                >
                <div class="containerInput">
                    <input class="signFormField" type="email" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" required placeholder="Adresse mail">
                    <!-- <div class="form_error" *ngIf="email.errors && f.submitted">
                        Email est requis!
                    </div> -->
                    <span *ngIf="email.errors && f.submitted">Adresse émail est requise</span>
                </div>

                <div class="containerInput">
                    <input class="signFormField" type="password" placeholder="Mot de passe" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" required minlength="5">
                    <span *ngIf="password.errors && f.submitted">Mot de passe est requis</span>
                </div>

                <div class="containerInput"><input class="signFormSubmit" type="submit" value="Connexion"></div>
            </form>
            <figure class="containerRedirectBtn">
                <p><a (click)="resetPassword()">Mot de Passe perdu ?</a></p>
                <p>Pas encore inscrit ? <a (click)="createAccount()">Créer votre compte</a></p>
            </figure>
        </figure>
    </main>
</div>
