<div class="SignIn">
    <main class="mainSignIn">
        <figure class="containerFormSignIn">
            <figure class="titleFormSignIn">
                <h1>Connectez-vous</h1>
            </figure>
            <form  class="formSignIn"  action="POST" name="form"  #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="containerInput">
                    <input class="signFormField" type="email" name="email" id="email" 
                    [(ngModel)]="form.email" #email="ngModel" required placeholder="Adresse mail">
                
                    <span *ngIf="email.errors && f.submitted">Adresse émail est requise</span>
                </div>

                <div class="containerInput">
                    <input class="signFormField" type="password" placeholder="Mot de passe" name="password" id="password" 
                    [(ngModel)]="form.password" #password="ngModel" required minlength="5">
                    <span *ngIf="password.errors && f.submitted">Mot de passe est requis</span>
                </div>

                <div class="containerInput"><input class="signFormSubmit" type="submit" value="Connexion"></div>
            </form>
            <figure class="containerRedirectBtn">
                <p><a (click)="resetPassword()">Mot de Passe perdu ?</a></p>
                <p>Pas encore inscrit ? <a (click)="createAccount()">Créer votre compte</a></p>
            </figure>
        </figure>
    </main>
</div>
