<div class="main">
    <app-sidebar></app-sidebar>
    <div class="welcome">
        <div class="infos">
            <h2>Utilisateur<span> {{userInfo.name}} {{userInfo.firstname}} </span></h2>
            <div class="contain-info">
                <!-- Informations de l'utilisateur -->
                <div class="contain-user">
                    <div class="info-user">
                        <p><span>Nom :</span> {{userInfo.name}} </p>
                        <p><span>Prénom :</span> {{userInfo.firstname}} </p>
                        <p><span>E-Mail :</span> {{userInfo.email}} </p>
                        <p><span>Télephone :</span> {{userInfo.phone}} </p>
                        <p *ngIf="userInfo.address"><span>Adresse: </span> {{userInfo.address}}</p>
                        <p *ngIf="userInfo.town"><span>Ville:</span> {{userInfo.town}}</p>
                        <p *ngIf="userInfo.postalCode"><span>Code Postal:</span> {{userInfo.postalCode}}</p>
                    </div>
                    <div *ngIf="!isLunch" class="pictogram">
                        <div class="user-picture">
                            <img src="{{image}}" alt="img.{{userInfo.firstname}}">
                        </div>
                        <div class="wallet-credit">
                            <p>Crédit :</p>
                            <p><span> {{userInfo.wallet}} </span></p>
                        </div>
                    </div>
                </div>
                <!--Si l'utilisateur est la lunch-->
            </div>
            <div class="btn-action">
                <button (click)="updateUser()" >Modifier mes informations / Mot de Passe</button>
                <!--Si ce n'est pas la lunch, le compte peut etre soldé-->
                <button *ngIf="!isLunch">Solder mon Compte</button>
                <button >Retour au Menu</button>
            </div>
        </div>
    </div>
</div>



