<div class="main">
  <app-header></app-header>
    <div class="container m-4">
      <h2>Commandes</h2>
      <header class="row d-flex justify-content-end">
        <form class="row d-flex col-4">
          <label for="start-date">Date de début:</label>
          <input type="date" id="start-date" name="start-date" [(ngModel)]="startDate"  class="form-control rounded  my-2 ">
          <label for="end-date">Date de fin:</label>
          <input type="date" id="end-date" name="end-date" [(ngModel)]="endDate" class="form-control rounded  my-2">
          <button (click)="submitDates()" class="btn  my-2 btn-primary btn-sm">Submit</button>
        </form>
        <div class="form-group col-4">
          <label for="statusSelect">Status</label>
          <select class="form-control rounded  my-2" id="statusSelect" [(ngModel)]="selectedValue">
            <option value="0">Créer</option>
            <option value="1">Livrer</option>
            <option value="2">Annuler</option>
          </select>
        </div>
        
          <div class=" col-4">
            <label for="">Recherche</label>
              <input type="search" class="form-control rounded  my-2" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          </div>
      </header>
        <!-- <div class="tab p-2">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col">Numéro de commande</th>
                <th scope="col">Client</th>
                <th scope="col">Commande</th>
                <th scope="col">Price</th>
                <th scope="col">Annuler</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let order of orders">
                  <tr >
                    <td>{{order.id}}</td>
                    <td>{{order.user?.name}} {{order.user?.firstname}}</td>                    
                    <td >
                      <span *ngFor="let quantity of order.quantity">{{quantity.menu?.label}} </span>
                      <span *ngFor="let quantity of order.quantity">{{quantity.meal?.label}} </span>
                    </td>
                    <td>
                      <span *ngFor="let quantity of order.quantity">
                        {{quantity.meal?.priceDF}}
                        {{quantity.menu?.priceDF}}
                      </span>
                    </td>
                    <td>GO</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
        </div> -->
        <div class="tab p-2">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col">Numéro de commande</th>
                <th scope="col">Client</th>
                <th scope="col">Commande</th>
                <th scope="col">Price</th>
                <th scope="col">Annuler</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let order of ordersFilter">
                  <tr >
                    <td>{{order.id}}</td>
                    <td>{{order.user?.name}} {{order.user?.firstname}}</td>                    
                    <td >
                      <span *ngFor="let quantity of order.quantity">{{quantity.menu?.label}} </span>
                      <span *ngFor="let quantity of order.quantity">{{quantity.meal?.label}} </span>
                    </td>
                    <td>
                      <span *ngFor="let quantity of order.quantity">
                        {{quantity.meal?.priceDF}}
                        {{quantity.menu?.priceDF}}
                      </span>
                    </td>
                    <td>GO</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
        </div>
    </div>
</div>