.Home{
    height: 100vh;
    background-color: #d8b785;
    font-family: 'Ubuntu';

    .navbar{
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .containerLogo{
            width: 100%;
            height: 15vh;
            display: flex;
            align-items: center;
        }
    
        .containerUserIcon{
            width: 80%;
            height: 15vh;
            display: flex;
            justify-content: end;
            align-items: center;
            position: absolute;

            .userIcon{
                width: 40px;
                height: auto;
                cursor: pointer;
        
            }    
        }
    }

    .mainHome{
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .circleHome{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1.5px solid black;
            cursor: pointer;
            transition: 0.5s ease;

            h3{
                font-weight: 400;
            }

            &:hover{
                background-color: black;
                color: white;
            }

        }
    }
}

@media screen and (max-width: 768px){
    
    .containerLogo{
        justify-content: start;

        h1{
            margin-left: 30px;
            font-size: 1.6rem;
        }
    }

    .circleHome{
        width: 20vh;
        height: 20vh;
        border-radius: 20vh;

        h3{
            font-size: 0.9rem;
        }
    }


}

@media screen and (min-width: 769px) and (max-width:1024px){

    .containerLogo{
        justify-content: start;

        h1{
            margin-left: 80px;
            font-size: 1.8rem;
        }
    }

    h3{
        font-size: 1.2rem;
    }
    .circleHome{
        width: 25vh;
        height: 25vh;
        border-radius: 25vh;
    }
    
    
}

@media screen and (min-width: 1025px){

    .containerLogo{
        justify-content: center;

        h1{
            font-size: 2.1rem;
        }
    }


    .circleHome{
        width: 27vh;
        height: 27vh;
        border-radius: 27vh;

        h3{
            font-size: 1.2rem;
        }
    }
    
    
}