.Home{
    height: 100vh;
    background-color: #FADDB1;
    font-family: 'Ubuntu';

    .navbar{
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .containerLogo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15vh;

            h1{
                font-size: 1.8rem;
            }
        
        
        }
    
        .containerUserIcon{
            width: 90%;
            height: 15vh;
            display: flex;
            justify-content: end;
            align-items: center;
            position: absolute;

            .userIcon{
                width: 40px;
                height: auto;
                cursor: pointer;
        
            }    
        }
    }

    .mainHome{
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .circleHome{
            width: 30vh;
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1.5px solid black;
            border-radius: 20vh;
            cursor: pointer;
            transition: 0.5s ease;

            h3{
                font-weight: 400;
            }

            &:hover{
                background-color: black;
                color: white;
            }

        }
    }
}

@media screen and (max-width: 768px){
    
    .containerLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;

        h1{
            font-size: 1.8rem;
        }
    }

    .circleHome{

        h3{
            font-size: 0.9rem;
        }
    }


}

@media screen and (min-width: 769px) and (max-width:1024px){

    .circleHome{

        h3{
            font-size: 0.8rem;
        }
    }
    
    
}

@media screen and (min-width: 1025px){

    .circleHome{

        h3{
            font-size: 1.1rem;
        }
    }
    
    
}