<div class="Home">
    <nav class="navbar">
        <figure class="containerLogo">
            <h1>Edu'cantine</h1>
        </figure>
        <figure class="containerUserIcon">
            <a routerLink="/auth/login"><img class="userIcon" src="../../../assets/iconUser.svg" alt="icone formulaire connexion"></a>
        </figure>
    </nav>
    <main class="mainHome">

        <figure class="circleHome">
            <h3><a routerLink="/menu">Menu & Carte de la semaine</a></h3>
        </figure>
    </main>
</div>
