<main id="body">

    <h2>Réinitialisation de Mot de Passe</h2>

    <div id="resetForm">

        <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
            <div class="input">
                <input type="text" placeholder="Email" [formControl]="email">
            </div>
            <p *ngIf="email.dirty && (email.hasError('required') || email.hasError('email'))">
                Email Invalide
            </p>
            <button class="btn-pw" [disabled]="email.hasError('required') || email.hasError('email')">Réinitialiser mon Mot de Passe</button>
        </form>

    </div>

    <div id="boutonReturn">
        <button routerLink="/auth/login">Retour</button>
    </div>

</main>

