h2 {
    color: #175242;
    text-align: center;
    font-size: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2em;
}

#body {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resetForm {
    background-color: #faddb1;
    border-radius: 6px;
    margin: 0 25%;
    padding: 1.8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button {
    background-color: #28a745;
    color: rgb(234, 230, 230);
    border-radius: 6px;
    margin-top: 2rem;
    padding: 0.8rem;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

p {
    color: red;
}

.input {
    font-size: 2.5vh;
    margin-top: 1.2em;
}

input{
    border: none;
    border-bottom: 1.5px solid #28a745;
    border-radius: 6px;
    padding: 0.5em;
    font-family: 'Ubuntu'; 
}

#boutonReturn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#boutonReturn button {
    background-color: #88918e;
    color: rgb(234, 230, 230);
    width: 150px;
    margin: 2em 0;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
}
