<div class="contain" id="body">
    <div class="containInfos">
        <h2>Mes informations - Changements</h2>
        
        <!--Changement de la photo de l'utilisateur-->
        <div class="photoUserUpadated"> 
            <img src={{avatar}} alt="avatar"/> 
            <label for="photoUssser">Changer la photo à uploader (png,jpeg)</label>
            <input
                type="file"
                id="photoUssser"
                name="photoUssser"
                accept="image/*"
                (change)="changeImage($any($event).target.files[0])"
            />
        </div>

        <!--Formulaire contenant les informations de l'utilisateur et Gestion des erreurs de validators-->
        <div id="createForm">
            <form (ngSubmit)="changeInfosUser()" [formGroup]="changeInformationsForm"> 

                <div class="label-form">
                    Nom :<input type="text" [formControl]="name" />
                </div><br/>
                <p *ngIf="name.dirty && (name.hasError('required') || name.hasError('pattern'))">
                    Nom incorrect (caracteres alpha-numérique uniquement, accents non autorisés)
                </p>

                <div class="label-form">
                    Prénom : <input type="text" [formControl]="firstname" />
                </div><br/>

                <p *ngIf="firstname.dirty && (firstname.hasError('required') || firstname.hasError('pattern'))">
                    Prénom incorrect (caractères alpha-numérique uniquement, accents non autorisés)
                </p>

                <div class="label-form">
                    Numéro de téléphone :
                    <input type="tel" maxlength="10" [formControl]="phone" />
                </div>
                <br />

                <p *ngIf="phone.dirty && (phone.hasError('required') || phone.hasError('pattern') || phone.hasError('minlength')) ">
                    Téléphone incorrect (10 caractères numériques nécesaires)
                </p>

                <div class="label-form">
                    Email : <input type="text" [formControl]="email" />
                </div><br />

                <p *ngIf="email.dirty && (email.hasError('required') || email.hasError('email'))">
                    Email incorrect
                </p>

                <div class="label-form">
                    Code Postale :
                    <input type="text" maxlength="5" [formControl]="postalCode" />
                </div>
                <br />

                <p *ngIf="postalCode.dirty && (postalCode.hasError('required') || postalCode.hasError('minlength') || postalCode.hasError('pattern')) ">
                    Code Postal incorrect (5 caractères numériques nécessaires)
                </p>

                <div class="label-form">
                    Ville : <input type="text" [formControl]="town" />
                </div>
                <br />

                <p *ngIf="town.dirty && town.hasError('required')">
                    Ville requise
                </p>

                <div class="label-form">
                    Adresse Postale : <textarea type="text" [formControl]="adress"></textarea>
                </div>
                <br />

                <p *ngIf="adress.dirty && adress.hasError('required')">
                    Adresse requise
                </p>

                <div class="label-form">
                    <label for="sex">Genre</label>
                    <select name="sex" [formControl]="sex">
                        <option [value]="0">Masculin</option>
                        <option [value]="1">Féminin</option>
                        <option [value]="2">Autre</option>
                    </select>
                </div>
                <br />

                <p *ngIf="sex.dirty && sex.hasError('required')">Genre requis</p>
            
                <div class="label-form">
                    Mot de Passe : <input type="password" [formControl]="password" />
                </div>
                <br />

                <p *ngIf=" password.dirty && (password.hasError('minlength') || password.hasError('required'))">
                    Mot de Passe incorrect (8 caractères minimum)
                </p>

                <div class="label-form">
                    Vérification du Mot de Passe
                    <input type="password" [formControl]="passwordVerif" />
                </div>
                <br />

                <p *ngIf="passwordVerif.dirty && (passwordVerif.hasError('required') || password.hasError('minlength') || passwordVerif.value != password.value) ">
                    Mots de Passes incorrects (Vos mots de pas ne sont pas identiques)
                </p>
                <br>

                <button class="btn btnModif" [disabled]="
                email.hasError('required') ||
                email.hasError('email') ||
                firstname.hasError('required') ||
                firstname.hasError('pattern') ||
                name.hasError('required') ||
                name.hasError('pattern') ||
                phone.hasError('required') ||
                phone.hasError('pattern') ||
                phone.hasError('minlength') ||
                postalCode.hasError('required') ||
                postalCode.hasError('minlength') ||
                postalCode.hasError('pattern') ||
                town.hasError('required') ||
                adress.hasError('required') ||
                password.hasError('minlength') ||
                password.hasError('minlength') ||
                passwordVerif.value != password.value ||
                sex.hasError('required')
            ">Modifier
                </button>
            </form>
        </div>

        <div id="boutonReturn">
            <!--Bouton de retour vers le login-->
            <button class="btn" routerLink="/user-profile/{{user.id}}">Retour</button>
        </div>
    </div>
</div>
