<div class="side-bar">
    <div class="title">
        <h1><a href="" routerLink="/admin/home">Edu'cantine</a></h1>
    </div>
    <div class="menu">
        <ul>
            <li><a href="" routerLink="/admin/menu">Plats de la semaine</a></li>
            <li><a href="" routerLink="/admin/order">Commandes</a></li>
            <li><a href="" routerLink="/admin/user">Comptes Utilisateurs</a></li>
            
        </ul>
    </div>
    <div class="sign-out">
        <a href="">
            <i class="fa-solid fa-power-off me-2"></i>
            <span>Déconnexion</span>
        </a>
    </div> 
</div>
