<div class="main">
    <app-header></app-header>
    <div #tab class="container m-4">
      <h2>Utilisateurs</h2>
      <header class="row d-flex justify-content-end">
        <h4 style="text-align: right">Filtrer</h4>
        <div class="col-6" *ngIf="user">
          <input class="form-control rounded mx-2 my-2" type="number" #input placeholder="Entrer un montant">
          <p class="mx-2 my-2" >Vous allez modifier le porte feuille de : {{user?.name}} {{user?.firstname}} ({{user?.wallet}}€)</p>
          <button class="btn mx-2 my-2 btn-primary btn-sm" (click)="credit(user)">Crediter</button>
          <button class="btn mx-2 my-2 btn-primary btn-sm" (click)="debit(user)">Debiter</button>
        </div>
        <div class="col-4">
            <input (keyup)="search();" #inputSearch type="search" class="form-control rounded mx-2 my-2" placeholder="Chercher par nom" aria-label="Search" aria-describedby="search-addon" />
        </div>
        
      </header>
        <div class="tab p-2">
          <table class="table ">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Porte feuille</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="!actif">
                <tr  *ngFor="let user of users" >
                  <td>{{user.name}}</td>
                  <td>{{user.firstname}}</td>
                  <td>{{user.wallet}}€</td>
                  <td (click)="getUser(user)" id="edit">Créditer / Débiter</td>
                </tr>
              </tbody>
              <tbody *ngIf="actif">
                <tr  *ngFor="let user of tabSearch" >
                  <td>{{user.name}}</td>
                  <td>{{user.firstname}}</td>
                  <td>{{user.wallet}}€</td>
                  <td (click)="getUser(user)">Créditer / Débiter</td>
                </tr>
              </tbody>
            </table>

        </div>
    </div>
</div>