<div class="main">
    <app-sidebar></app-sidebar>
    <div class="welcome">
        <div class="cagnotte">
            <a href="">Cagnotte : X </a>
        </div>
        <div class="infos">
            <h2>Informations personnelles</h2>
            <p><strong>Prénom et Nom</strong> : {{ users[0].name }}</p>
            <p><strong>Adresse mail</strong> : {{ users[0].firstname }}</p>
            <a class="editPass"><strong>Modifier mon mot de passe </strong>
                <i class="arrow-down"></i>
                <div class="password">
                    <input type="password" name="" id="" placeholder="Mot de passe actuel">
                    <input type="password" name="" id="" placeholder="Nouveau mot de passe">
                    <input type="password" name="" id="" placeholder="confirmer le nouveau de passe">
                    <input type="button" value="submit" class="btn btn-primary col-6">
                </div>
            </a>
        </div>
    </div>
</div>
