<div class="main">
    <app-sidebar></app-sidebar> <!-- sidebar -->
    <div class="welcome">
        <div class="cagnotte">
            <a href="">Cagnotte : X </a>
        </div>
        <div class="order">
            <div class="order-on">
                <h4>Commande en cours</h4>
                <span>0</span>
            </div>
            <div>
                <h4 class="order-off">Commander un plat</h4>
                <i class="fa-solid fa-utensils"></i>
            </div>
        </div>
    </div>
</div>
