@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.order {
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contain-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #3d3e3e;
    margin-bottom: 3rem;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin: auto;
    padding: 0;
}

li {
    width: 100%;
    display: flex;
    list-style-type: none;
    background-color: #faddb1;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem;
    padding: 0.8rem 4.2rem;
    border-radius: 6px;

}

strong {
    color: #76420b;
}

.date {
    color: #175242;
    font-weight: bold;
}

.price {
    color: #646464;
}

button {
    background-color: #28a745;
    color: white;
    width: 20%;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
}

@media screen and (max-width: 572px) {
    li {
        padding: 0.8rem 0.3rem;
    }

    button {
        width: 70%;
    }
    
}